<button mat-icon-button
        (click)="saveForm.emit($event)"><mat-icon>save_outline</mat-icon></button>
<button mat-icon-button
        (click)="resetForm.emit()"><mat-icon>refresh</mat-icon></button>
<button mat-icon-button
        (click)="deleteForm.emit()"><mat-icon>delete_outline</mat-icon></button>
<button mat-icon-button
        (click)="loadForm.emit()"><mat-icon>text_snippet</mat-icon></button>
<button mat-icon-button
        [color]="!valid ? 'warn' : ''">
    <mat-icon *ngIf="valid">check</mat-icon>
    <mat-icon *ngIf="!valid">error_outline</mat-icon>
</button>
