<mat-form-field class="mat-form-field-full-width" appearance="outline" floatLabel="always" [hideRequiredMarker]="!hasOptions">
    <mat-label *ngIf="hasOptions">{{field.label}}</mat-label>
    <checkbox-group *ngIf="hasOptions" matFormFieldControl [formControlName]="field.id" [required]="required">
        <mat-checkbox *ngFor="let o of field.config.options" [value]="o.value">{{o.label}}</mat-checkbox>
    </checkbox-group>
    <mat-checkbox *ngIf="!hasOptions" matFormFieldControl [formControlName]="field.id" [required]="required" [value]="true">{{field.label}} <span class="required-marker" *ngIf="required">*</span></mat-checkbox>
    <mat-error *ngIf="control.invalid">{{error}}</mat-error>
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
</mat-form-field>
