<as-split #hsplit
          direction="horizontal"
          [gutterSize]="9">
    <as-split-area id="code-area"
                   [size]="38.2">
        <ngx-monaco-editor [options]="editorOptions"
                           [formControl]="editorFormControl"
                           (onInit)="onEditorInit($event)"/>
    </as-split-area>
    <as-split-area id="form-area"
                   [size]="61.8">
        <as-split direction="vertical"
                  [gutterSize]="9">
            <as-split-area id="code-area"
                           [size]="85.41">
                <mat-toolbar color="primary">
                    <span>{{formController.title | async}}</span>
                    <app-app-form-actions [valid]="formController.valid | async"
                                          (saveForm)="onSave($event)"
                                          (resetForm)="onReset()"
                                          (deleteForm)="onDelete()"
                                          (loadForm)="onLoad()"/>
                </mat-toolbar>
                <div id="form-area-form-container"
                     [class.disabled]="hasErrors">
                    <mj-dynamic-card-form [controller]="formController"/>
                </div>
            </as-split-area>
            <as-split-area id="value-area"
                           [size]="14.59">
                <pre>{{values | async}}</pre>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>
