#code-area {
    ngx-monaco-editor {
        height: 100%;

        .editor-container {
            overflow: hidden;
            height: 100% !important;
        }
    }
}

#form-area {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    height: 100%;

    #form-area-form-container {
        position: relative;
        flex: 1;

        &.disabled {
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #fafafa;
                opacity: .5;
                z-index: 10000;
            }
        }

        mj-dynamic-form, mj-dynamic-card-form {
            padding: 24px;

            form {
                max-width: 960px;
                margin: 0 auto;
            }
        }

        pre {
            display: block;
            max-width: 960px;
            margin: 0 auto;
            font-size: 12px;
        }
    }

    mat-toolbar {
        flex: 0 0 auto;
    }
}
