@use '~@angular/material' as mat;
@import "~@angular/material/theming";

$custom-typography: mat.define-typography-config(
    $body-1: mat.define-typography-level(16px, 24px, 500)
);

@include mat.core($custom-typography);

$candy-app-primary: mat.define-palette(mat.$indigo-palette);
$candy-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$candy-app-warn: mat.define-palette(mat.$red-palette);

$candy-app-theme: mat.define-light-theme((
    color: (
        primary: $candy-app-primary,
        accent: $candy-app-accent,
        warn: $candy-app-warn
    )
));

@include mat.all-component-themes($candy-app-theme);

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.mat-form-field-full-width {
    width: 100%;
}

mj-dynamic-form {
    fieldset ~ fieldset {
        margin-top: 16px;
    }

    fieldset {
        > label {
            display: block;
            margin-bottom: 8px;
        }
    }

    .df-tab-container {
        display: flex;
        margin-bottom: 8px;

        .df-tab {
            cursor: pointer;
            padding: 8px;
            flex: 0 0 auto;
            border-radius: 4px;

            &.active {
                background: rgba(0,0,0,.1);
            }

            &~.df-tab {
                margin-left: 16px;
            }
        }
    }
}

.mj-dynamic-form-widget {
    &.mj-dynamic-form-widget-no-label {
        .mat-form-field-appearance-fill {
            .mat-form-field-infix {
                border-top-width: 0;
            }
        }

        .mat-form-field-appearance-outline {
            .mat-form-field-infix {
                border-top-width: .25em;
            }
        }
    }
}

.df-widgets-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    df-widget-container {
        flex: 0 0 100%;

        .mj-dynamic-form-widget {
            display: block;
            padding: 0 8px;
        }
    }
}
